.player-frame {
    align-items: flex-start;
    display: flex;
    height: 825px;
    justify-content: center;
    padding: 20px 160px;
    position: relative;
}

.player-frame .div {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    max-width: 960px;
    position: relative;
}

.player-frame .div-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 12px 12px;
    justify-content: space-between;
    padding: 16px;
    position: relative;
    width: 100%;
}

.player-frame .div-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 288px;
}

.player-frame .text-wrapper {
    align-self: stretch;
    color: #111116;
    font-family: "Manrope-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 40px;
    margin-top: -1.00px;
    position: relative;
}

.player-frame .player-frame-wrapper {
    align-items: center;
    background-color: #eff2f4;
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    height: 32px;
    justify-content: center;
    max-width: 480px;
    min-width: 84px;
    overflow: hidden;
    padding: 0px 16px;
    position: relative;
}

.player-frame .div-wrapper-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.player-frame .text-wrapper-2 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: stretch;
    color: #111116;
    display: -webkit-box;
    font-family: "Manrope-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    margin-top: -1.00px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.player-frame .player-frame-wrapper-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 12px 16px;
    position: relative;
    width: 100%;
}

.player-frame .player-frame-wrapper-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    height: 48px;
    min-width: 160px;
    position: relative;
    width: 100%;
}

.player-frame .div-3 {
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    position: relative;
    width: 100%;
}

.player-frame .player-frame-wrapper-4 {
    align-items: center;
    align-self: stretch;
    background-color: #eff2f4;
    border-radius: 8px 0px 0px 8px;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    padding: 0px 0px 0px 16px;
    position: relative;
}

.player-frame .vector-wrapper {
    flex: 1;
    flex-grow: 1;
    height: 24px;
    position: relative;
}

.player-frame .vector {
    height: 20px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 20px;
}

.player-frame .search-by-nome-wrapper {
    align-items: center;
    align-self: stretch;
    background-color: #eff2f4;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    overflow: hidden;
    padding: 8px 16px 8px 8px;
    position: relative;
}

.player-frame .search-by-nome {
    color: #607089;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.player-frame .div-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 12px 12px;
    padding: 12px 16px 12px 12px;
    position: relative;
    width: 100%;
}

.player-frame .div-5 {
    align-items: center;
    background-color: #eff2f4;
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    height: 32px;
    justify-content: center;
    padding: 0px 8px 0px 16px;
    position: relative;
}

.player-frame .text-wrapper-3 {
    align-self: stretch;
    color: #111116;
    font-family: "Manrope-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

.player-frame .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 100%;
    position: relative;
}

.player-frame .img {
    height: 8px;
    left: 3px;
    position: absolute;
    width: 14px;
}

.player-frame .text-wrapper-4 {
    align-self: stretch;
    color: #111116;
    font-family: "Manrope-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
}

.player-frame .player-frame-wrapper-5 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.player-frame .div-6 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 12px 12px;
    padding: 12px 16px;
    position: relative;
}

.player-frame .player-frame-wrapper-6 {
    align-items: center;
    background-color: #eff2f4;
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    height: 40px;
    justify-content: center;
    max-width: 480px;
    min-width: 84px;
    overflow: hidden;
    padding: 0px 16px;
    position: relative;
}

.player-frame .text-wrapper-5 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: stretch;
    color: #111116;
    display: -webkit-box;
    font-family: "Manrope-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 21px;
    margin-top: -1.00px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.player-frame .player-frame-wrapper-7 {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #dbdde5;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}

.player-frame .div-7 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.player-frame .div-8 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.player-frame .div-9 {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    display: flex;
    flex: 1;
    flex-grow: 1;
    position: relative;
    width: 100%;
}

.player-frame .div-wrapper-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    position: relative;
    min-width: 110px;
    flex: 1; 
}

.player-frame .text-wrapper-6 {
    align-self: stretch;
    color: #111116;
    font-family: "Manrope-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    margin-top: -1.00px;
    position: relative;
}

.player-frame .div-wrapper-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    position: relative;
    width: 97px;
}

.player-frame .div-wrapper-5 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    position: relative;
    width: 127px;
}

.player-frame .div-wrapper-6 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    position: relative;
    width: 120px;
}

.player-frame .div-wrapper-7 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    position: relative;
    width: 119px;
}

.player-frame .div-wrapper-8 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    position: relative;
    width: 115px;
}

.player-frame .div-wrapper-9 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    position: relative;
    width: 137px;
}

.player-frame .div-wrapper-10 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    position: relative;
    width: 101px;
}

.player-frame .text-wrapper-7 {
    align-self: stretch;
    color: #111416;
    font-family: "Manrope-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    margin-top: -1.00px;
    position: relative;
}

.player-frame .div-10 {
    align-items: flex-start;
    align-self: stretch;
    border-color: #e5e8ea;
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    height: 72px;
    position: relative;
    min-width: 800px;
    display: flex;
}

.player-frame .div-wrapper-11 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: center;
    margin-bottom: -1.00px;
    padding: 8px 16px;
    position: relative;
    width: 110px;
}

.player-frame .text-wrapper-8 {
    align-self: stretch;
    color: #111116;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    position: relative;
}

.player-frame .div-wrapper-12 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: center;
    margin-bottom: -1.00px;
    padding: 8px 16px;
    position: relative;
    width: 97px;
}

.player-frame .text-wrapper-9 {
    align-self: stretch;
    color: #607089;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    position: relative;
}

.player-frame .div-wrapper-13 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: center;
    margin-bottom: -1.00px;
    padding: 8px 16px;
    position: relative;
    width: 127px;
}

.player-frame .div-wrapper-14 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: center;
    margin-bottom: -1.00px;
    padding: 8px 16px;
    position: relative;
    width: 120px;
}

.player-frame .div-wrapper-15 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: center;
    margin-bottom: -1.00px;
    padding: 8px 16px;
    position: relative;
    width: 119px;
}

.player-frame .div-wrapper-16 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: center;
    margin-bottom: -1.00px;
    padding: 8px 16px;
    position: relative;
    width: 115px;
}

.player-frame .div-wrapper-17 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: center;
    margin-bottom: -1.00px;
    padding: 8px 16px;
    position: relative;
    width: 137px;
}

.player-frame .div-wrapper-18 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: center;
    margin-bottom: -1.00px;
    padding: 8px 16px;
    position: relative;
    width: 101px;
}

.player-frame .text-wrapper-10 {
    align-self: stretch;
    color: #607089;
    font-family: "Manrope-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 21px;
    position: relative;
}

.player-frame .div-11 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 16px 16px;
    padding: 16px;
    position: relative;
    width: 100%;
}

.player-frame .div-12 {
    align-items: flex-start;
    border: 1px solid;
    border-color: #dbdde5;
    border-radius: 8px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
    height: 196px;
    min-width: 158px;
    padding: 24px;
    position: relative;
}

.player-frame .text-wrapper-11 {
    align-self: stretch;
    color: #111116;
    font-family: "Manrope-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1.00px;
    position: relative;
}

.player-frame .text-wrapper-12 {
    align-self: stretch;
    color: #111116;
    font-family: "Manrope-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 30px;
    margin-top: -1.00px;
    position: relative;
}

.player-frame .div-wrapper-19 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    height: 60px;
    position: relative;
    width: 100%;
}

.player-frame .div-13 {
    align-items: flex-start;
    border: 1px solid;
    border-color: #dbdde5;
    border-radius: 8px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
    min-width: 158px;
    padding: 24px;
    position: relative;
}

.player-frame .div-wrapper-20 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    height: 90px;
    position: relative;
    width: 100%;
}